<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add connectionString="Data Source=179.43.116.234;Initial Catalog=GabeDB;Persist Security Info=True;User ID=Dev02;Password=Inicio2020" providerName="System.Data.SqlClient" name="LOCAL"></add>
	</connectionStrings>
	<appSettings>
		<add key="BO" value="LOCAL"></add>
		<add key="scheme" value="dbo" />
		<add key="CryptoKey" value="C01915FB-EE6C-446F-AD94-A409ED4861F7" />
	</appSettings>
</configuration>