<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add connectionString="TMC81Ryo9G6gfCxn6TrvLokWNboE6OIIcSFQuvdJ9dbVX83jrJ3PcOwiWLIaqHZa/qyHdvzB6OrEM8V7u97w1rDVRvi78EkIjlcIBlCm81d5ExnBchphWY4thPCRBV2YwULJO5sI6qYSgkcGB7vTmg==" providerName="System.Data.SqlClient" name="LOCAL">
    </add>
  </connectionStrings>
  <appSettings>
    <add key="BO" value="LOCAL">
    </add>
    <add key="scheme" value="dbo" />
    <add key="CryptoKey" value="C01915FB-EE6C-446F-AD94-A409ED4861F7" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="NuevaContraseña" value="Inicio2021!" />
    <add key="HelpFile" value="D:\Proyectos\Otros\gabe\Gabe\Help.chm"/>
    <add key="ReportServer" value="."/>
    <add key="ReportDB" value="GabeDB"/>
    <add key="ReportUsr" value="Dev02"/>
    <add key="ReportPass" value="Inicio2020"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
